<%= form_for(@cal) do |f| %>
  <% if @cal.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@cal.errors.count, "error") %> prohibited this cal from being saved:</h2>

      <ul>
      <% @cal.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
