<h1>System Events</h1>

<%= calendar @events do |event| %>
    <div><%= link_to event.title, (event.title == "Clean System Operation") ? sys_clean_path(event.sys_clean) : sys_check_path(event.sys_check) %></div>
<% end %>

<%= link_to 'New System Operation', new_sys_op_path %>
